.page {
  width: 400px;
  height: 400px;
  background-color: gainsboro;
}

.content {
  position: relative;
  padding-top: 10px;
  padding-left: 10px;
}

.square-1 {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 210px;
  width: 100px;
  height: 100px;
  background-color: lightgrey;
  border: solid;
  text-align: center;
}

.square-2 {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 105px;
  width: 100px;
  height: 100px;
  background-color: lightgrey;
  border: solid;
  text-align: center;
}

.square-3 {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  background-color: lightgrey;
  border: solid;
  text-align: center;
}

.square-4 {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 105px;
  left: 0;
  width: 100px;
  height: 100px;
  background-color: lightgrey;
  border: solid;
  text-align: center;
}

.square-5 {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 210px;
  left: 0;
  width: 100px;
  height: 100px;
  background-color: lightgrey;
  border: solid;
  text-align: center;
}

.square-6 {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 210px;
  left: 105px;
  width: 100px;
  height: 100px;
  background-color: lightgrey;
  border: solid;
  text-align: center;
}

.square-7 {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 210px;
  left: 210px;
  width: 100px;
  height: 100px;
  background-color: lightgrey;
  border: solid;
  text-align: center;
}

.square_on {
  background-color: lightgreen;
}
